
#chess-board{
    border: 3px solid #ba8f5e;
    border-collapse: collapse;
}

tr, td {
    border: none !important;
}

#chess-title {
    color: red;
}

.cell.black {
    background-color: #ba8f5e;
}

.cell.white {
    background-color: #dcccad;
}