<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="fragments/head-tag::header"></th:block>
</head>
<body>
<div id="chess-title">
    {{message}}
</div>
<div id="chess-table">
    <table>
        <tbody>
        <tr v-for="(column, index) in 8"
            :key="index">
            <template>
                <chess-cell v-for="(cell, index) in 8"
                            :cell="cell"
                            v-bind:key="index"
                            v-bind:style="cellStyle">
                </chess-cell>
            </template>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>