<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head-tag::header"></th:block>
</head>
<body>
<div id="chess-title">
    {{message}}
</div>
<div id="chess-table">
    <table id="chess-board">
        <tbody>
        <tr v-for="(column, inx) in 8"
            :key="inx">
            <template>
                <chess-cell v-for="(cell, index) in letters"
                            :cell="`${cell + (8 - inx)}`"
                            :num="inx * 8 + index + 1"
                            :inx="inx + 1"
                            :key="index"
                            :style="cellStyle">
                </chess-cell>
            </template>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>